{% macro default(text) %}
    <span class="ui label">{{ text|trans }}</span>
{% endmacro %}

{% macro yesNo(value) %}
    {% import _self as labels %}

    {% if value %}
        {{ labels.yes() }}
    {% else %}
        {{ labels.no() }}
    {% endif %}
{% endmacro %}

{% macro yes() %}
    <span class="ui basic label">
        <i class="checkmark icon"></i>
        {{ 'monsieurbiz_alert_message.ui.yes_label'|trans }}
    </span>
{% endmacro %}

{% macro no() %}
    <span class="ui basic label">
        <i class="remove icon"></i>
        {{ 'monsieurbiz_alert_message.ui.no_label'|trans }}
    </span>
{% endmacro %}
